<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skew.exammania">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuestionScreen" />
        <activity android:name=".SegmentScreen" />
        <activity android:name=".ChallengeScreen" />
        <activity android:name=".AddFriendScreen" />
        <activity android:name=".FriendListScreen" />
        <activity android:name=".ConnectInstituteScreen" />
        <activity android:name=".OffersScreen" />
        <activity android:name=".ReportCardScreen" />
        <activity android:name=".BooksNotesScreen" />
        <activity android:name=".UpdateProfileScreen" />
        <activity android:name=".DashboardScreen" />
        <activity android:name=".RegistrationScreen" />
        <activity android:name=".OTPScreen" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Banking_Segments" />
        <activity android:name=".MPSC_UPSC_Segments" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".QuestionSelectionActivity" />
        <activity android:name=".RandomQuestionActivity" />
        <activity android:name=".SelectChallengeFriendActivity"></activity>
    </application>

</manifest>
